@import '../../styles/colors.css';

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);

  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--highlight-dark-color);
  &:hover {
    color: var(--secondary-color);
    background-color: var(--highlight-dark-color);
  }
}

.btn-none {
  &:hover {
    border-color: var(--primary-color);
  }
}
