:root {
  --primary-color: rgba(73, 94, 87);
  --secondary-color: rgba(244, 206, 20);
  --accent-dark-color: rgba(238, 153, 114);
  --accent-light-color: rgba(251, 218, 187);
  --highlight-light-color: rgba(237, 239, 238);
  --highlight-dark-color: rgba(51, 51, 51);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-accent-dark {
  color: var(--accent-dark-color);
}

.text-accent-light {
  color: var(--accent-light-color);
}

.text-light {
  color: var(--highlight-light-color);
}

.text-dark {
  color: var(--highlight-dark-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-accent-dark {
  background-color: var(--accent-dark-color);
}

.bg-accent-light {
  background-color: var(--accent-light-color);
}

.bg-light {
  background-color: var(--highlight-light-color);
}

.bg-dark {
  background-color: var(--highlight-dark-color);
}
